In [2]:
# Step 1 - importing software components

import nasdaqdatalink
from API_KEYS import nasdaq_api_key
nasdaqdatalink.ApiConfig.api_key = nasdaq_api_key.discrete_value


from IPython.display import display

import matplotlib.pyplot as plt

In [8]:
# Step 2 - connecting do data from NASDAQ 

# import daily pricing data for crude oil from OPEC

testdata = nasdaqdatalink.get_table('QDL/OPEC')

In [4]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5382 entries, 0 to 5381
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5382 non-null   datetime64[ns]
 1   value   5382 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 84.2 KB

In [5]:
testdata.head()

           date  value
None
0    2023-11-09  83.22
1    2023-11-08  84.27
2    2023-11-07  86.50
3    2023-11-06  88.86
4    2023-11-03  89.78

In [6]:
testdata.tail()

           date  value
None
5377 2003-01-08  28.86
5378 2003-01-07  29.72
5379 2003-01-06  30.71
5380 2003-01-03  30.83
5381 2003-01-02  30.05