In [11]:
import pandas_datareader.data as web
import datetime
import datasets

In [12]:
start = datetime.datetime(1900, 1, 1)
end = datetime.datetime.utcnow()

# datasets: MABMM301PLM189N - M3 PLN NSA
#           MYAGM3EZM196N - M3 EUR NSA
#            
M3_broadMoney = web.DataReader('MABMM301USM189S', 'fred', start, end)

In [13]:
M3_broadMoney.tail()

            MABMM301USM189S
DATE
2023-06-01     2.085430e+13
2023-07-01     2.086370e+13
2023-08-01     2.082530e+13
2023-09-01     2.075510e+13
2023-10-01     2.072560e+13

In [14]:
x = [{"name" : "John", "age" : 36}, {"name" : "Tomasz", "age" : 36}]

In [15]:
type(x)

list

In [16]:
print(x.count("Tomasz"))

0

In [19]:
for x in datasets:
    print(datasets[x]["source"])

SyntaxError: invalid syntax (1283107032.py, line 2)