In [1]:
from pandas_datareader import wb

In [2]:
# wbcountries = wb.get_countries()
# wbcountries['name'] = wbcountries.name.str.strip()
# wbcountries

In [5]:
popvars = wb.search('')
popvars.info()
outputdata = popvars.iloc[:,:2]

<class 'pandas.core.frame.DataFrame'>
Index: 24460 entries, 0 to 24459
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  24460 non-null  object
 1   name                24460 non-null  object
 2   unit                24460 non-null  object
 3   source              24460 non-null  object
 4   sourceNote          24460 non-null  object
 5   sourceOrganization  24460 non-null  object
 6   topics              24460 non-null  object
dtypes: object(7)
memory usage: 1.5+ MB

In [ ]:
display(outputdata)

                      id                                 name
6850   FS.LBL.LIQU.GD.ZS  Liquid liabilities (M3) as % of GDP
6851  FS.LBL.LIQU.GDP.ZS  Liquid liabilities (M3) as % of GDP

In [ ]:
outputdata.to_csv('/home/DataScience/Project_1/Data/Wb_sets_list.csv')

In [ ]:
outputdata.to_excel('/home/DataScience/Project_1/Data/Wb_sets_list.xlsx')

In [ ]:
clothing = wb.search('clothing')
clothing.info()
clothing = clothing.iloc[:,:2]

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 74 to 18265
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11 non-null     object
 1   name                11 non-null     object
 2   unit                11 non-null     object
 3   source              11 non-null     object
 4   sourceNote          11 non-null     object
 5   sourceOrganization  11 non-null     object
 6   topics              11 non-null     object
dtypes: object(7)
memory usage: 704.0+ bytes

In [ ]:
display(clothing)

                      id                                               name
74                110300                       110300:CLOTHING AND FOOTWEAR
75               1103000                      1103000:CLOTHING AND FOOTWEAR
10814  NV.MNF.TXTL.UN.ZS    Textiles and clothing (% of value added in mfg)
10815  NV.MNF.TXTL.ZS.UN  Textiles and clothing (% of value added in man...
11277    PER.BAS.HH.UNIF  World Bank: Household spending per student on ...
11549    PER.PRM.HH.UNIF  World Bank: Household spending per student on ...
11643    PER.SEC.HH.UNIF  World Bank: Household spending per student on ...
11942    PER.TER.HH.UNIF  World Bank: Household spending per student on ...
18015  TM.TAX.CLTH.CD.DV  Average tariffs imposed by developed countries...
18016  TM.TAX.CLTH.CD.LD  Average tariffs imposed by developed countries...
18265  TX.VAL.TXTL.UN.ZS   Textiles and clothing (% of merchandise exports)

In [ ]:
ind = ['NY.GDP.PCAP.KD']

In [ ]:
dat = wb.download(indicator=ind, country='all', start=1970, end=2023).dropna()
print(dat)

               NY.GDP.PCAP.KD
country  year
Zimbabwe 1974     1739.528005
         1973     1685.936447
         1972     1696.555002
         1971     1615.572017
         1970     1529.055965