In [41]:
# Step 1 - importing software components

import nasdaqdatalink
from API_KEYS import nasdaq_api_key
nasdaqdatalink.ApiConfig.api_key = nasdaq_api_key.discrete_value

In [43]:
# mydata = nasdaqdatalink.get("FRED/GDP", start_date="1900-01-01", end_date="2023-11-11")
mydata = nasdaqdatalink.get_table("WB/METADATA")

In [35]:
mydata.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [45]:
type(mydata)

pandas.core.frame.DataFrame

In [46]:
mydata.to_csv('/home/DataScience/Project_1/Data/WB_METADATA.csv')